@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

.bg-image {
    background-image: url("city.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.weather {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 25px;
}

.time-bar {
    width: 100%;
    backdrop-filter: blur(3px);
    border: 1px solid black;

}
.clock {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    color: hsl(37, 10%, 90%);
    font-weight: 500;
    /* border: 1px solid black; */
    padding: 20px;
    font-size: 100px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    text-shadow: 4px 4px 13px rgba(0, 0, 0, 1);
}
.topbar {
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date {
    margin-left: 10px;
    color: hsl(90, 5%, 47%);
}

.current-weather {
    margin-right: 10px;
    color: hsl(90, 5%, 47%);
}

.red-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 5px 15px;
    background: linear-gradient(90deg, hsl(342, 37%, 53%) 35%, hsl(356, 44%, 73%) 100%);
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px;
    font-weight: 300;
}

.red-box-border {
    padding: 3px 0;
    position: relative;
    background: linear-gradient(to right, hsl(344, 26%, 44%), rgb(149, 98, 108));
    border-radius: 2px;
}
.stocks-border {
    display: flex;
    flex-direction: row;
    padding: 3px 0;
    position: relative;
    border-radius: 2px;
}

.red-box img {
    max-width: 30px;
    margin-left: -5px;
}

.stocks {
    padding: 15px;
    background: linear-gradient(90deg, #7f8579 35%, #acb0a6 100%);
    /* border: 2px solid #81877b; */
    border-radius: 2px;
}

.stocks-border {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    position: relative;
    background: linear-gradient(to right, #6f6f5e, #848273);
    border-radius: 2px;
}


